
@import "../../scss/var_.scss";


.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100% !important;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
}

.picture-div {
    height: 100% !important;
    width: 69% !important;

    img {
        height: 100% !important;
        width: 100% !important;
    }
}

.login {
    background: transparent;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-section {
        flex: 0.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        width: 500px;

        .header-text {
            font-size: 50px;
            font-weight: 600;
            font-family: Garamond, serif;
            margin-bottom: 5%;
        }
    }

    .form {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 500px !important;

        .input-area {
            width: 100%;
            margin-left: 30%;
            display: flex;
            flex-direction: row;
            border-radius: 1000px !important;
        }
    }

    .input {
        height : 40px;
        border-radius: 5px;
    }

    .button {
        display : block;
        width : 330px;
        margin-left: -3%;
        border-radius: 5px;
        font-weight: 600;
    }
}